.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Token files

src/main/resources/.twitch
src/main/resources/.spotify
src/main/resources/.maps

### Databases

src/main/resources/database.db
src/main/resources/backup-database_29.02.2024.db
src/main/resources/backup-database_05.05.2024.db
src/main/resources/backup-database_17.05.2024.db
src/main/resources/backup-database_19.05.2024.db

### Netflix related files

src/main/resources/application.properties
src/main/resources/config.properties
